body {
  background: #f9c2d1;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  width: 600px;
  height: 420px;
}

.head {
  position: absolute;
  width: 50px;
  height: 55px;
  background: #f6e8e6;
  bottom: -2px;
  right: 15px;
  border-radius: 50%;
  z-index: 5;
}

.ear-left {
  position: absolute;
  background: #f6e8e6;
  width: 33%;
  height: 80%;
  bottom: 80%;
  left: 10%;
  border-radius: 50% 50% 0% 0%;
  animation: moveLeft 2s infinite;
}

.ear-right {
  position: absolute;
  background: #f6e8e6;
  width: 33%;
  height: 80%;
  bottom: 80%;
  right: 10%;
  border-radius: 50% 50% 0% 0%;
  animation: moveRight 2s infinite;
}

.inner-ear {
  position: absolute;
  background: #ffdde2;
  width: 70%;
  height: 77%;
  left: 15%;
  top: 12%;
  border-radius: 50% 50% 10% 10%;
}

.eye-left {
  position: absolute;
  background: #818181;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 50%;
  left: 5%;
  z-index: 3;
}

.eye-right {
  position: absolute;
  background: #818181;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 50%;
  right: 5%;
  z-index: 3;
}

.pupil {
  position: absolute;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  left: 23%;
  top: 15%;
  background: #ffffff;
}

.nose {
  position: absolute;
  background: #818181;
  width: 12px;
  height: 8px;
  top: 60%;
  left: 46%;
  border-radius: 50%;
}

.line {
  position: absolute;
  border-left: solid 3px #818181;
  height: 200%;
  top: 20%;
  left: 37%;
  border-radius: 20%;
}

.blush-right,
.blush-left {
  position: absolute;
  background: #ffdde2;
  width: 12%;
  height: 12%;
  border-radius: 50%;
  top: 59%;
}

.blush-right {
  right: 13%;
}

.blush-left {
  left: 13%;
}

@keyframes moveRight {
  0% {
    transform: rotate(20deg);
    transform-origin: bottom right;
  }
  50% {
    transform: rotate(25deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(20deg);
    transform-origin: bottom right;
  }
}

@keyframes moveLeft {
  0% {
    transform: rotate(-20deg);
    transform-origin: bottom left;
  }
  50% {
    transform: rotate(-25deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(-20deg);
    transform-origin: bottom left;
  }
}

